body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  text-align: center;
  scroll-snap-type: y mandatory;
  padding-top: 56px;
}

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-y: scroll;
}

header {
  background-color: #970b9c;
  color: white;
  padding: 20px;
  font-size: 24px;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000; /* high enough to appear above background elements */
}


/* Story page set up */
.story-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 20px;
  justify-content: center;
}

.story-item {
  text-decoration: none;
  color: inherit;
  background: #f8f8f8;
  padding: 15px;
  border-radius: 10px;
  transition: transform 0.2s;
  text-align: center;
}

.story-item:hover {
  transform: scale(1.05);
}

.story-item img {
  width: 100%;
  max-width: 300px;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
}

.story-item h2, .story-item p {
  margin: 10px 0;
}


/* Scrollytelling elements */
#scrollytelling-container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  padding-top: 56px; /* height of Bootstrap navbar */
}

#image-container {
  position: relative;
  z-index: 1;
  margin-top: 56px;  /* height of Bootstrap navbar */
}

#text-container {
  position: relative;
  width: 50%;
  margin: 0 auto;
  padding: 50px 0;
  color: white;
  font-size: 1.5rem;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
}

.text-step {
  position: relative;
  background: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 40px;
  border-radius: 10px;
  margin-bottom: 100vh; /* Space between steps */
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

/* Fade in when visible */
.text-step.visible {
  opacity: 1;
  transform: translateY(0);
}

/* Fade out when scrolled past */
.text-step:not(.visible) {
  opacity: 0;
  transform: translateY(50px);
}

.scrolly-section {
  scroll-snap-align: start;
  height: 100vh;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  color: white;
  justify-content: center;
}

.scrolly-section video, .scrolly-section img {
  position: absolute;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}

.scrolly-text {
  position: relative;
  z-index: 2;
  background: rgba(0, 0, 0, 0.5); /*  text box colour */
  padding: 2rem;
  border-radius: 1rem;
  max-width: 700px;
}

.scrolly-instructions {
  position: absolute;
  z-index: 2;
  background: rgba(0, 0, 0, 0.5); /*  text box colour */
  padding: 1rem;
  border-radius: 1rem;
  max-width: 700px;
  bottom: 20px;
  right: 20px;
}


/* accordion headers */
.accordion-header {
  background-color: #970b9c;
  color: white;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

